body, html{
    
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;

    
}

@keyframes drawLine {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}